{{!< layout}}

        <!-- the Javascript file js/addon.js is imported in the layout -->
        <!-- It contains functions which execute actions for buttons/links in this page -->

<section class="aui-connect-page" role="main">

  <!-- Horizontal navigation tabs -->
  <nav class="aui-navgroup aui-navgroup-horizontal">
    <div class="aui-navgroup-inner">
      <div class="aui-navgroup-primary">
        Privet<b>ik</b>.
      </div>
    </div>


    Title:
    <div class="details-message-title"> </div>
    Body:
    <div class="details-message-body"> </div>
  </nav>

</section>
<footer class="aui-connect-footer">
  <a href="#">Log out</a>
</footer>
